<!DOCTYPE html>
<html>
<head>
	<title>Index</title>
  	<script src="/static/js/jquery-2.1.1.min.js"></script>
  	<link rel="stylesheet" href="/static/css/index.css"/>
  	<link rel="stylesheet" href="/static/css/side.css"/>
	<style> 
		#nf {
			font-size: 44px;
			font-family: sans-serif;
			padding: 20px;
		}
	</style>
</head>
<body>

<%- include("side.ejs") %>
<div id="articles"><div id="nf">404 Not Found</div></div>

</body>
</html>
