@font-face {
  font-family: Adam;
  src: url("../fonts/Adam.ttf");
}

@font-face {
  font-family: LiberationMono-Regular;
  src: url("../fonts/LiberationMono-Regular.ttf");
}


html, body {
	height: 100%;
	background: rgba(0,0,0,0);
	margin: 0 !important;
}

body {
    /*background: url('../images/ss.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

a {
	text-decoration: none;
} 

#header-description {
	float: left;
	font-size: 38px;
}

#main div:hover {
}

#main img {
}


#articles {
	width: 100%;
	height: 100%;
	margin-left: calc(22% + 50px);
	margin-bottom: 40px;
	margin-top: 10px;
	color: #404040;
}

.article {
	margin-left: 30px;
	margin-bottom: 0px;
}

hr {
	border: 1px solid #f0f0f0;
	margin-left: -10px;
}

.date {
	height: 15px;
	color: #b0b0c0;
	font-size: 14px;
	font-family: sans-serif;
}

.header {
	font-size: 18px;
	margin-top: 5px;
	color: #4040c0;
	line-height: 20px;
	font-family: sans-serif;
}
