html, body {
	height: 100%;
	background: rgba(0,0,0,0);
	margin: 0 !important;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: sans-serif;
}

a {
	text-decoration: none;
}

#articles {
	height: 100%;
	font-size: 12px;
	line-height: 40px;
	width: calc(55%);
    min-width: 480px;
    min-height: 680px;
    margin: 0 auto;
	margin-top: 0px;
}

.article {
	margin-top: 30px;
}

.article-date {
	height: 16px;
	color: rgba(0,0,0,0.4);
	font-size: 16px;
}

.article-header {
	font-family: Montserrat-Bold;
	color: #00aaff;
	font-size: 16px;
}
