@font-face {
  font-family: Compre;
  src: url("../fonts/Compre.otf");
}
pre {
  tab-size: 4;
  -o-tab-size: 4; /* Code for Opera 10.6-12.1 */
  -moz-tab-size: 4; /* Code for Firefox */
}

body {
  font-size: 16px;
  background: rgba(0,0,0,0);
  color: #202020;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #6060ff;
  font-weight: bold;
  cursor: pointer;
}

h1, h2, h3, h4 {
  font-family: sans-serif;
  color: #404040;
  line-height: 34px;
}

h1 {
  font-size: 38px;
  margin-top: 60px;
  margin-bottom: 20px;
  line-height: 48px;
}

h2 {
  font-size: 32px;
}


h3 {
  font-size: 26px;
}

h4 {
  font-size: 20px;
}

#paper {
  width: calc(78%)
  min-width: 480px;
  min-height: 680px;
  padding-right: 20px;
  margin-top: 0px;
  margin-bottom: 40px;
  margin-left: calc(22% + 50px);
  max-width: 800px;
}

#paper img {
  display: block;
  margin: 0 auto;
}

.paper-date {
  height: 15px;
  margin-left: 0px;
  color: rgba(0,0,0,0.4);
  position: absolute;
  top: 25px;
  font-size: 18px;

}

code {
  border: 1px solid #e0e0e0;
  background: #fafafa;
  font-size: 14px;
  line-height: 18px;
  padding: 0px 4px 2px 4px;

}

code > pre {
}

ul {
  line-height: 20px;
}

canvas {
  border: 1px solid #e0e0e0;
}

.image-wrapper img {
  display: block;
  margin: 0 auto;
}


.text {
  margin-bottom: 40px;
}

#title {
}

#date img {
  float: left;
  opacity: 0.66;
}

#date div {
  margin-top: 0px;
  margin-left: 5px;
  float: left;
  display: inline-block;
}

#navigation {
  height: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  line-height: 18px;
}

#previous, #next {
  width: 50%;
  margin-bottom: 40px;
}

#previous h3, #next h3 {
  color: rgba(0,0,0,0.7);
  font-size: 18px;
  margin-bottom: 0px;
  margin-top: 10px;
}

#next {
  float: right;
  text-align: right;
  
}

#previous {
  float: left;
  width: 50%;
}
