@font-face {
  font-family: TruenoLt;
  src: url("../fonts/TruenoLt.otf");
}

@font-face {
  font-family: LiberationMono-Regular;
  src: url("../fonts/LiberationMono-Regular.ttf");
}

#side {
	font-family: sans-serif;
	width: 22%;
	height: 100%;
	font-size: 12px;
	position: fixed;
	top: 0;
	left: 0;
	padding: 20px;
	background: #202850;
	font-size: 18px;
}

#side a {
	color: #ffffff;
}

#side-content {
    position: fixed;
    bottom: calc(50% - 20px);
    height: 125px;
    width: 22%;
	color: rgba(255,255,255,0.33);
}

.side-image {
	border-radius: 50px;
}

.side-title {
	margin-left: calc(50% - 50px);
}

.side-items {
	margin-left: calc(50% - 30px);
	display: inline-block;
	margin-top: 10px;
	opacity: 0.8;
}

.side-text {
	display: inline-block;
}

.side-item {
	width: 100px;
	height: 20px;
	margin-top: 10px;
}

#side-published {
	left: 0;
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 22%;
    padding: 20px;
	color: rgba(255,255,255,0.33);
}

@media (max-width: 780px) {
	#side {
		display: none;
	}
	#paper {
		margin-left: 10px;
		padding-right: 10px;
	}
	#articles {
		margin-left: 10px;
		padding-right: 10px;
	}
}