@font-face {
  font-family: TruenoLt;
  src: url("../fonts/TruenoLt.otf");
}

@font-face {
  font-family: LiberationMono-Regular;
  src: url("../fonts/LiberationMono-Regular.ttf");
}

body {
  line-height: 24px;
}

#side {
	font-family: sans-serif;
	width: 22%;
	height: 100%;
	font-size: 12px;
	position: fixed;
	top: 0;
	left: 0;
	background: #202850;
}

#side a {
	color: #ffffff;
}

#side-content {
    position: fixed;
    height: 100%;
    width: 22%;
	color: rgba(255,255,255,0.33);
}

.side-image {
	border-radius: 50px;
}

.side-title {
	margin-left: calc(50% - 50px);
}

.side-items {
	width: 100%;
	height: 100%;
}

.side-text {
	position: absolute;
	top: calc(50% - 16px);
	width: 100%;
}

.side-item {
	position: relative;
	width: 100%;
	text-align: center;
	height: 25%;
	margin-top: 0px;
	color: rgba(0,0,0,0.1);
	font-size: 32px;
	font-weight: bold;
}

#side-item-archive {
	background: #77bbff;
}

#side-item-videos {
	background: #77ffbb;
}

#side-item-github {
	background: #bbff77;
}

#side-item-about {
	background: #ffbb77;
}

#side-published {
	left: 0;
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 22%;
    margin-bottom: 5px;
	color: rgba(255,255,255,1.0);
	font-size: 14px;
}

@media (max-width: 780px) {
	#side {
		display: none;
	}
	#paper {
		margin-left: 10px;
		padding-right: 10px;
	}
	#articles {
		margin-left: 10px;
		padding-right: 10px;
	}
}