<h1>Polygon Madness v1.0 is here!</h1>
<p><b><a href="http://www.polygonmadness.tk">Click me to play!</a></b></p>
<p>This little "bullet hell" was made in ThreeJS. 
 It took quite a while to make it run smoothly. 
 I have not tested it on mobile yet. 
 Leave a comment if you find any bugs!</p>
