<h1>Polygon Madness v1.0 is here!</h1>
<p><b><a href="http://www.polygonmadness.tk">Click me to play!</a></b></p>

<iframe width="100%" height="400" src="https://www.youtube.com/embed/GD6xdoadRss"></iframe>

<p>This bullet hell game was made in ThreeJS. 
 It took quite a while to make it run smoothly. 
 It should run decently on any laptop or PC equipped with a modern GPU.
 I tried it out on mobile and it lags like crazy. I'll try to further optimize it later.
 Leave a comment if you find any bugs!</p>
