<h1>JR. OHJELMISTOKEHITTÄJÄ (JAVASCRIPT, HTML, CSS) ESPOOSEEN!</h1>
<p>
	Moi. Pääsisinkö töihin?  Voin aloittaa heti.
	<a href="mailto:vuoriov4@gmail.com">vuoriov4@gmail.com</a>
</p>
<blockquote>
"Oletko vastavalmistunut tai valmistuvassa oleva IT-alan opiskelija, joka palaa halusta päästä käyttämään ohjelmistokehitystaitojaan työelämässä? Omaatko JavaScript, HTML ja CSS osaamista esimerkiksi opintojesi tai harrastuneisuuden kautta? Haemme Dovre Consultingille kokoaikaista Jr. Ohjelmistokehittäjää Espooseen. Tämä on kasvupositio, joten sinulta odotetaan halua sitoutua tehtävään sekä kehittää osaamistasi. Lue alta lisää ja jätä hakemus jo tänään!
""</blockquote>
<p>Kyllä! Osaaminen on kunnossa. Opintoni jatkuvat syksyllä, mutta voin tehdä kumpaakin samaan aikaan.
	Tarvitsen vain git-repon, backlogin ja devauskoneen.
	Toivon että teillä olisi backlog valmiina tai käsitys siitä mitä haluatte minun koodaavan.
</p>
<blockquote>"tehtävään soveltuva koulutustausta IT-alalta (AMK/DI)"</blockquote>
<p>Olen 22v loppuvaiheen kandiopiskelija Aalto-yliopistossa (Tietotekniikka). Opintoihin kuului lähinnä Scalaa, tietojärjestelmätiedettä ja insinööriopintoja. Olin koulussa mukana "oikean maailman" softaprojektissa jossa työskenneltiin tiimissä Scrumin ja Githubin avulla (Uniapnean hoitoon liittyvää softaa älykelloon ja puhelimeen). Tässä jotain kursseja joita olen suorittanut:</p>
<pre><code class="html">Matriisilaskenta
Differentiaali- ja integraalilaskenta 1 ja 2
Fourier analyysi
Ohjelmointi 1 ja 2
Tietokannat
Ohjelmointistudio 1 ja 2
Tietorakenteet ja algoritmit
Signaalit ja järjestelmät
Sähkömagnetismi
Aineen rakenne
Termodynamiikka
Tietoverkot
Theoretical Computer Science</code></pre>
</p>
<blockquote>"osaamista web-teknologioista (JavaScript, HTML, CSS)"</blockquote>
Tämä sivusto on tehty puhtaalla HTML/CSS/JS (ei wordpress yms). Web serveri pyörii tuossa linux-koneella jalkojeni juuressa. Javascript-kokemus? NodeJS, Typescipt, jQuery, Express, EJS, webgl, socket.io sekä lukemattomat pikkukirjastot.

</ul>
<blockquote>"ymmärrystä tietokannoista"</blockquote>
<p>
	Kävin koulussa tietokantakurssin ja olen tehnyt yksinkertaisia MongoDB- ja SQL-tietokantoja. Olen tehnyt järjestelmiä jossa front-end lähettää tietoa backendiin joka tekee tietokantakyselyn ja lähettää dataa takaisin frontendiin... Tiedätte kyllä.
</p>
<pre><code>INSERT INTO EMPLOYEES
SELECT * FROM APPLICANTS
WHERE email='vuoriov4@gmail.com';
</code></pre>
<blockquote>"sujuva kirjallinen sekä suullinen suomen ja englannin taito"</blockquote>
<p>
	Yes. Please hire me, I am poor as fuck and I don't even have money for food right now.
	Olen sosiaalisesti vähä jälkeenjäänyt ja outo :D (pakko mainita koska ihmiskeskeinen tehtävä)
	mutta osaan kyllä toimia ihmisten kanssa.
</p>
<h2>Lisää avainsanoja, koska miksi ei?</h2>
<p>git, Java, Scala, Python, C, GLSL, Linux, Bash, Nginx, OpenGL, arduino/pi, Electron, IDET (Android studio, Eclipse ym)</p>

</body>
</html>
