<h1>Here's a free file uploading service</h1>
<p>
	<a href="http://www.crapyard.tk">Here</a> is a dusty uploading service I made a while back.
	It's running on top of Scala Play framework and it's pretty simple. If you need a quick way to host some files temporarily, go ahead and try it out. There's a limit on the file size, 10mb or something. I don't expect it to get popular but might aswell share it. The code is in Github.
</p>
