<h1>Here's a free file uploading service</h1>
<p>
	<a href="http://www.crapyard.tk">Here</a> is a simple uploading service I made a while back.
	It's running on top of Scala Play framework. The code is in Github.
	If you need a quick way to host some files, try it out. There's a limit on the file size, 10mb or something. 
	It's nothing compared to Google Drive but I might aswell share it.
</p>
